# Ignore bundler config.
/.bundle

# Ignore user setting files.
/config/user_settings.yml

# Ignore customize font files.
/data/fonts/*
!/data/fonts/.keep

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
